body {
    margin: 0;
    background: linear-gradient(180deg, #465ec6 ,#ffffff) !important;
    display: flex;
    flex-direction: column;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif !important;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    color: white;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  
  ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 8px 0;
    border: 1px solid black;
    gap: 1px;
    background-color: black;
    border-radius: 8px;
    overflow: auto;
  }
  
  li {
    background-color: white;
    padding: 8px;
  }
  
  li:hover {
    background: #dadbf9;
  }
  
  a {
    font-weight: 800;
    text-decoration: none;
  }


/* サイドバーの基本スタイル */
.sidebar {
  position: fixed;
  top: 5.2rem;
  left: -250px; /* 初期状態では隠す */
  width: 250px;
  height: 100%;
  background-color: #333;
  color: white;
  padding-top: 60px;
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
}

.sidebar.open {
  transform: translateX(250px);
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 15px;
  background-color: #ffffff70;
  border-bottom: 1px solid #444;
}

.sidebar li:hover {
  background-color: #ffffff90;
}

.sidebar a {
  color: rgba(255, 255, 255, 0.74);
  text-decoration: none;
}

.close-btn {
  position: absolute;
  top: 0px;
  right: 15px;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

/* ハンバーガーボタン */
.sidebar-toggle {
  position: fixed;
  top: 5.2rem;
  left: 10px;
  color: white;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;
}

/* メインコンテンツ */
.content {
  transition: margin-left 0.3s ease-in-out;
}

.content.shifted {
  margin-left: 250px;
}
